.modal-title{
    display:inline;
}
#formEliminarAlumno {
    float:right;
}
.sin-datos{
	padding-top:30px;
}
.sin-datos>h1{
	font-size:90px;
	color:#c3c3c3;
}

.fondo-gris{
	background-color:#e4e4e4 !important;

}
#mainNav .navbar-collapse .navbar-sidenav{
	margin-top:73px;
}

.btn{
	border-radius:0px;
}


@media only screen and (max-width: 768px) {

	    #mainNav .navbar-collapse .navbar-sidenav{
		margin-top:0px;
	}
}

#mensajes{
	display:none;
}

table.dataTable{
	border-collapse: collapse !important;
}

.display-4{
	margin-top:20px;
}


.btn-eliminar, .btn-editar{
	border: none;
	background:none;
	cursor: pointer;
	transition-duration:0.3s;
}

.btn-eliminar:hover, .btn-editar:hover{
filter: brightness(70%);
}

.btn-eliminar{
	color: #dc3545;
}

.btn-editar{
	color: #28a745
}
