.modal-title{
    display:inline;
}
#formEliminarAlumno {
    float:right;
}
.sin-datos{
	padding-top:30px;
}
.sin-datos>h1{
	font-size:90px;
	color:#c3c3c3;
}

.fondo-gris{
	background-color: #343a40 !important;
	margin-left: 250px;
	height: 100%;


}
.fondo-gris>div>h4{
	color: #ffffff4d;
}

.fondo-gris>div>img{
	opacity:0.2;
}


#mainNav .navbar-collapse .navbar-sidenav{
	margin-top:73px;
}

.btn{
	border-radius:0px;
}


@media only screen and (max-width: 768px) {

	    #mainNav .navbar-collapse .navbar-sidenav{
		margin-top:0px;
	}
}

@media only screen and (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .dropdown-menu {

	   
	    left: -100px;

	}
	}
}

#mensajes{
	display:none;
}

table.dataTable{
	border-collapse: collapse !important;
}

.display-4{
	margin-top:20px;
}


.btn-eliminar, .btn-editar{
	border: none;
	background:none;
	cursor: pointer;
	transition-duration:0.3s;
}

.btn-eliminar:hover, .btn-editar:hover{
filter: brightness(70%);
}

.btn-eliminar{
	color: #dc3545;
}

.btn-editar{
	color: #28a745
}

.navegacion{
	margin-top:30px;
}


.fondo-administrativo{
	background-color: #563c48;
	transition-duration:0.3s;
}

.fondo-administrativo:hover,.fondo-administrativo>ul>li:hover,.fondo-gestor:hover,.fondo-gestor>ul>li:hover,.fondo-administrador:hover,.fondo-administrador>ul>li:hover{
	filter: saturate(195%) !important;
}

.fondo-administrativo>ul>li{
	background-color:#6c3e53;
	transition-duration:0.3s;
}



.fondo-gestor{
	background-color: #3d634d;
	transition-duration:0.3s;
}
.fondo-gestor>ul>li{
	background-color:#3b845a;
	transition-duration:0.3s;
}

.fondo-administrador{
	background-color: #1d585d;
	transition-duration:0.3s;
}
.seleccionado{
	color:white !important;
}
.saturacion{
	filter: saturate(195%) !important;
}

#tabla-usuarios>thead{
	display:none;
}
#tabla-usuarios>tbody>tr>td{
	padding-top:30px;
	padding-bottom:30px;

}

#tabla-usuarios>tbody>tr{
	border: 1px solid #dee2e6;
	border-radius: 10px !important;
	margin-bottom:20px !important;

}